body {
  font-family: sans-serif;
  background-color: #0d0d0d;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.wrapper {
  width: 70%;
}

.insidecontainer {
  margin-left: 180px;
}
