.form {
  align-self: center;
  width: 97%;
  max-width: 480px;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 38px;
  margin-left: 65px;
}

.form label {
  width: 90%;
}

.form input {
  height: 50px;
  border-radius: 11px;
  background-color: #1f2937;
  color: #fff;
  width: 100%;
  outline: none;
  border: none;
  padding: 12px;
}

.form button {
  width: 10%;
  background-color: #88ab33;
  border: none;
  height: 50px;
  border-radius: 11px;
  margin-left: 20px;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
  white-space: nowrap;
}
