* {
  margin: 0;
}

.container {
  width: 100%;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.absolute {
  position: absolute;
}

.mt-\[10px\] {
  margin-top: 10px;
}

.ml-\[20px\] {
  margin-left: 20px;
}

.ml-\[65px\] {
  margin-left: 65px;
}

.mt-\[38px\] {
  margin-top: 38px;
}

.flex {
  display: flex;
}

.h-\[20px\] {
  height: 20px;
}

.h-5 {
  height: 1.25rem;
}

.h-\[43px\] {
  height: 43px;
}

.h-\[1px\] {
  height: 1px;
}

.w-11\/12 {
  width: 91.666667%;
}

.w-\[90\%\] {
  width: 90%;
}

.w-full {
  width: 100%;
}

.w-\[10\%\] {
  width: 10%;
}

.w-\[1px\] {
  width: 1px;
}

.w-\[97\%\] {
  width: 97%;
}

.max-w-\[480px\] {
  max-width: 480px;
}

.max-w-\[455px\] {
  max-width: 455px;
}

.items-center {
  align-items: center;
}

.justify-around {
  justify-content: space-around;
}

.gap-\[12px\] {
  gap: 12px;
}

.self-center {
  align-self: center;
}

.overflow-hidden {
  overflow: hidden;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.rounded-\[11px\] {
  border-radius: 11px;
}

.border-0 {
  border-width: 0px;
}

.border {
  border-width: 1px;
}

.border-none {
  border-style: none;
}

.border-\[\#c2b39a\] {
  --tw-border-opacity: 1;
  border-color: rgb(194 179 154 / var(--tw-border-opacity));
}

.bg-red-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(239 68 68 / var(--tw-bg-opacity));
}

.bg-slate-800 {
  --tw-bg-opacity: 1;
  background-color: rgb(30 41 59 / var(--tw-bg-opacity));
}

.bg-\[\#88ab33\] {
  --tw-bg-opacity: 1;
  background-color: rgb(136 171 51 / var(--tw-bg-opacity));
}

.bg-red-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(254 242 242 / var(--tw-bg-opacity));
}

.bg-red-800 {
  --tw-bg-opacity: 1;
  background-color: rgb(153 27 27 / var(--tw-bg-opacity));
}

.p-\[12px\] {
  padding: 12px;
}

.p-0 {
  padding: 0px;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.text-red-600 {
  --tw-text-opacity: 1;
  color: rgb(220 38 38 / var(--tw-text-opacity));
}

.text-red-500 {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity));
}

.outline-none {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
}
